/* Universal Styles*/

body {
  font-family: "Roboto", Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-bottom: 50px;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 5fr);
  grid-template-rows: repeat(1, 1fr) repeat(1, 4fr);
  height: 100vh;
}

.main_container {
  background-color: #e5e5e5;
  display: grid;
  gap: 0px;
  grid-area: 2 / 2 / 3 / 3;
  grid-template-columns: repeat(2, 2fr) repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10px;
}

/* Project Cards */

.project_card {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #9ca3af;
  display: grid;
  font-size: 1.5em;
  grid-template-columns: repeat(1, 1fr) repeat(1, 12fr);
  grid-template-rows: repeat(1, 2fr) repeat(1, 1fr);
  overflow: hidden;
  padding-right: 10px;
}

.project_cards {
  display: grid;
  gap: 10px;
  grid-template-columns: minmax(200px, 700px) minmax(200px, 700px);
  grid-template-rows: repeat(3, 1fr);
}

.projects_container h3 {
  font-size: 1.9em;
}

.projects_container {
  grid-area: 1 / 1 / 3 / 3;
  margin: 20px;
}

.button_list {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 30px;
}

.yellow_line {
  background: #facc15;
  display: inline;
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;
  width: 10px;
}

.project_card p {
  color: #525252;
}

/* Announcements  */

.announcements_container {
  align-self: start;
  font-size: 1.2em;
  grid-area: 1 / 3 / 2 / 4;
  margin: 20px;
}

.announcements_content {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #9ca3af;
  padding: 25px;
}

.maintenance_content,
.community_content {
  border-bottom: 2px solid #d4d4d4;
}

.announcements_container h5 {
  font-size: 1.05em;
  margin-bottom: 0;
}

.announcements_container p,
.maintenance_content h5 {
  margin-top: 0;
}

.announcements_container p {
  color: #525252;
}

/* Trending */

.trending_container {
  align-self: end;
  font-size: 1.3em;
  grid-area: 2 / 3 / 3 / 4;
  margin: 20px;
}

.trending_content {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #9ca3af;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 25px;
  row-gap: 20px;
}

.trending_content h6,
.trending_content p {
  font-size: 1.1em;
}

.trending_container h6 {
  font-weight: 500;
  margin-bottom: 0;
}

.trending_container p,
.tegan h6 {
  margin-top: 0;
}

.trending_content p {
  color: #525252;
}

.morgan,
.tegan,
.kendali,
.alex {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
}

.trending_container img {
  height: auto;
  margin-right: 10px;
  width: 50px;
}

.details p,
.details h6 {
  margin: 0;
}

/* Header */

.btn {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.header_container {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-columns: repeat(1, 2fr) repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr) repeat(1, 3fr);
  padding: 20px 40px 20px 40px;
}

button {
  background: #0ea5e9;
  border-radius: 20px;
  border: none;
  color: #f5f5f5;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  outline: none;
  padding: 10px 25px 10px 25px;
}

button:hover {
  background: #0369a1;
}

.profile_container img,
.profile_container svg {
  border-radius: 50%;
  height: 45px;
  margin-right: 10px;
  width: 45px;
}

.welcoming_container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 10fr);
}

.welcoming_container img,
.welcoming_container svg {
  border-radius: 50%;
  height: auto;
  margin-right: 10px;
  width: 60px;
}

#bell {
  width: 30px;
}

.welcoming_content p {
  font-weight: 600;
  font-size: 1.3em;
}

.welcoming_content h2 {
  font-size: 2em;
}

.welcoming_content p,
.welcoming_content h2 {
  margin: 0px 0px 5px 0px;
}

.profile_container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.searchbar_container {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.wrapper {
  background: #9ca3af;
  border-radius: 20px;
  height: 40px;
  width: 70%;
}

input {
  align-self: center;
  background: #9ca3af;
  border: none;
  height: 25px;
  margin: 5px;
  outline: none;
  width: 95%;
}

/* Sidebar */

.sidebar_container {
  align-items: start;
  background-color: #06b6d4;
  color: white;
  display: grid;
  font-size: 1.9em;
  font-weight: 800;
  grid-area: 1 / 1 / 3 / 2;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr) repeat(1, 3fr) repeat(1, 7fr);
  padding-left: 10%;
}
