<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="announcements_container">
      <h3>Announcements</h3>
      <div class="announcements_content">
        <div class="maintenance_content">
          <h5>Site Maintenance</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </div>
        <div class="community_content">
          <h5>Community Share Day</h5>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi,
            aliquid?
          </p>
        </div>
        <div class="privacy_content">
          <h5>Updated Privacy Policy</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
            mollitia soluta impedit.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
