<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header class="header_container">
        <div class="searchbar_container">
          <form action="post">
            <div class="wrapper"><input type="text" placeholder="Search" /></div>
          </form>
        </div>
        <div class="profile_container">
            <img src="../icons/bell-ring-outline.svg" alt="">
            <img src="../icons/ubuntu.svg" alt="">
            <h3>Morgan Okaley</h3>
        </div>
        <div class="welcoming_container">
            <img src="../icons/ubuntu.svg" alt="">
            <div class="welcoming_content">
                <p>Hi there,</p>
                <h2>Morgan Oakley &#40@morgan&#41</h2>
            </div>
        </div>
        <div class="btn">
            <button>New</button>
            <button>Upload</button>
            <button>Share</button>
        </div>
      </header>
</body>
</html>