<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="trending_container">
      <h3>Trending</h3>
      <div class="trending_content">
        <div class="tegan">
          <img src="../icons/ubuntu.svg" alt="" />
          <div class="details">
            <h6>@tegan</h6>
            <p>World Peace Builder</p>
          </div>
        </div>
        <div class="morgan">
          <img src="../icons/ubuntu.svg" alt="" />
          <div class="details">
            <h6>@morgan</h6>
            <p>Super Cool Project</p>
          </div>
        </div>
        <div class="kendali">
          <img src="../icons/ubuntu.svg" alt="" />
          <div class="details">
            <h6>@kendali</h6>
            <p>Life Changing App</p>
          </div>
        </div>
        <div class="alex">
          <img src="../icons/ubuntu.svg" alt="" />
          <div class="details">
            <h6>@alex</h6>
            <p>No Traffic Maker</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
